* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  background-color: #ffd;
}
#header {
  text-align: center;
}
.title-name {
  background-color: rgb(245, 52, 52);
  color: #fff;
}
.nav {
  margin-top: 20px;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid;
  width: 100%;
  margin: 0 auto;
}

.nav-item {
  margin: 2px 8px;
  margin-right: 20px;
  padding: 1px;
  text-align: center;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s ease;
}
.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #007bff; /* Adjust the hover color as needed */
}

.nav-item:hover {
  transform: scale(1.1);
}

.card {
  border: 2px solid red;
  display: flex;
}
.card-img-top {
  height: 300px;
  width: 300px;
}
.card-body {

}

#cards {
  border: 5px solid;
  margin: 0;
  padding: 0px;
}
